.card {
    display: flex;
    gap: 30px;
    width: 100%;
    min-height: 180px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 32px rgba(151, 151, 151, 0.25);

    &__info {
        flex: 0 1 70%;
    }

    &__details {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__desc {
        color: var(--text-grey);
    }
}

.detail {
    display: flex;
    gap: 6px;

    &__name {
        font-weight: 600;
    }
}