input {
    background-color: transparent;
    border: none;
    font: inherit;
    border-radius: 12px;
    padding: 0;
}

input, textarea {
    display: inline-block;
}

.input {
    width: 270px;
    padding: 8px 10px;
    border: 1.5px solid var(--text-grey);

    &-container {
        position: relative;
    }

    &.textarea {
        font: inherit;
        border-radius: 12px;
        background-color: transparent;
    }
}

.fullWidth {
    max-width: 100%;
    width: 100%;
}

.label {
    position: absolute;
    top: -8px;
    left: 15px;
    background-color: var(--grey);
    padding: 0 4px;
    font-size: 12px;
    color: var(--text-grey);
}

.error {
    color: red;
    font-size: 12px;
    padding: 5px;
}

.errorInput {
    border: 1.5px solid red;
}