/* remove default styling */
button {
    background-color: transparent;
    font: inherit;
    border: none;
    padding: 0;
}

.btn {
    min-width: 100px;
    height: 40px;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.small {
    width: 120px;
    height: 30px;
    font-size: 12px;
    border-radius: 10px;
}

.medium {
    width: 160px;
    font-size: 14px;
    padding: 10px 12px;
}

.primary {
    background-color: var(--yellow);
    color: var(--black);
}

.dark {
    background-color: var(--black);
    color: white;
}

.grey {
    background-color: #b6b5b5;
}

.full-width {
    width: 100%;
}

/* .outlined {
    background-color: transparent;
    border: 1px solid #2a51a4;
    color: #2a51a4;
} */