.alert {
    padding: 20px;
    border: 1.5px solid var(--text-grey);
    color: var(--black);
    border-radius: 10px;
}

.red {
    border: 1.5px solid var(--red);
    color: var(--red);
}
.orange {
    border: 1.5px solid var(--orange);
    color: var(--orange);
}
.green {
    border: 1.5px solid var(--green);
    color: var(--green);
}