.header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    &__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}