.create-course {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__buttons {
        display: flex;
        gap: 10px;
    }
}

.form {
    &-course-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 40px;
    }

    &-section {
        display: flex;
        flex-direction: column;

        & >*:not(:last-child) {
            margin-bottom: 10px;
        }

        &__title {
            text-align: center;
        }
    }
}