@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');
*,:before,:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #151513;
    --yellow: #FFDC71;
    --grey: #EDEDED;
    --blue: #BAD7EB;
    --green: #BFE090;
    --bright-yellow: #F5CE55;
    --text-grey: #545353;
    --red: #E51104;
    --orange: #FD7326;
    --green: #028E3F;
}

body {
    font-family: sans-serif;
    background-color: var(--grey);
    font-family: 'Roboto Flex', sans-serif;
    color: var(--black);
}

ul {
    list-style: none;
}

ul, li {
    padding: 0;
}